
<html>
<body>
<h2>Welcome to Employee App </h2>
<div>
    <table border="1">
        <tr>
            <td> Employee Id </td> <td>{{empId}}</td> <br/>
        </tr>
        <tr>
            <td> Employee Name </td> <td>{{empName}}</td> <br/>
        </tr>
        <tr>
            <td> Employee Job </td> <td>{{empJob}}</td> <br/>
        </tr>
        <tr>
            <td> Employee Salary </td> <td>{{empSalary}}</td> <br/>
        </tr>
        <tr>
            <td> Employee Department </td> <td>{{empDep}}</td> <br/>
        </tr>
      </table>
</div>
</body>
</html>