<body><h1 align="center">Rxjs Operators</h1>
<hr/>

<div class="div1" align="center">
<button (click)="getData1_click()">Get Employee By Job</button>
<button (click)="getData2_click()">Get Managers By Department No</button>
<button (click)="getData3_click()">Get Employee Name and Deisgnation</button>
<button (click)="getData4_click()">Get Employee not working in department 45</button>
<button (click)="getData5_click()">Get Sorted Employee Array based on salaryl</button>
<hr/>
</div>
<div>
    <pre>{{result | json}}</pre>
</div>
</body>
